name: reusable-dump-context
run-name: "reusable dump context: ${{ github.event_name == 'pull_request' && github.event.pull_request.title || github.ref_name }}"

# context concept:
# https://docs.github.com/en/actions/concepts/workflows-and-actions/contexts

# context reference:
# https://docs.github.com/en/actions/reference/workflows-and-actions/contexts

# ::group:: and ::endgroup:: are GitHub Actions workflow commands
# https://docs.github.com/en/actions/reference/workflows-and-actions/workflow-commands#grouping-log-lines

on:
  workflow_call:
    inputs:
      annotate:
        default: false
        required: false
        type: boolean
  workflow_dispatch:
    inputs:
      annotate:
        default: false
        required: false
        type: boolean

permissions:
  contents: read

jobs:
  dump-context:
    runs-on: ubuntu-latest
    steps:
      - name: dump context
        run: |
          echo -e "Dumping context...\n"

          echo "::group::env context:"
          echo "${{ toJson(env) }}"
          echo "::endgroup::"

          echo "::group::github context:"
          echo "${{ toJson(github) }}"
          echo "::endgroup::"

          echo "::group::inputs context:"
          echo "${{ toJson(inputs) }}"
          echo "::endgroup::"

          echo "::group::job context:"
          echo "${{ toJson(job) }}"
          echo "::endgroup::"

          echo "::group::matrix context:"
          echo "${{ toJson(matrix) }}"
          echo "::endgroup::"

          echo "::group::needs context:"
          echo "${{ toJson(needs) }}"
          echo "::endgroup::"

          echo "::group::runner context:"
          echo "${{ toJson(runner) }}"
          echo "::endgroup::"

          echo "::group::secrets context:"
          echo "[REDACTED: secrets context is not logged for security reasons]"
          echo "::endgroup::"

          echo "::group::steps context:"
          echo "${{ toJson(steps) }}"
          echo "::endgroup::"

          echo "::group::strategy context:"
          echo "${{ toJson(strategy) }}"
          echo "::endgroup::"

          echo "::group::vars context:"
          echo "${{ toJson(vars) }}"
          echo "::endgroup::"

          if [ "${{ inputs.annotate }}" = "true" ]; then
            echo -e "\n::notice::Context details.\n"
          fi
